<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,td{border: 1px solid black;}
    </style>
</head>
<body>
    
  
      <h2>List of all users</h2>
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
        </tr>
        <% for(res of result){ %>
            <tr>
                <td><%= res.id %></td>
                <td><%= res.username %></td>
                <td><%= res.email %></td>
                <td>
                <form method="get" action="/user/<%= res.id %>/edit">
                    <button>edit username</button>
                </form>
            </td>
            
            </tr>
        <% }  %>
    </table>
</body>
</html>
